In [2]:
# Q1 create Pandas Series

# given data
data = [4, 8, 15, 16, 23,42]

import pandas as pd

# convert list into pandas series using pandas.series function

data_series = pd.Series(data)

In [3]:
data_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
type(data_series)

pandas.core.series.Series

In [5]:
# Q2 create pandas series

# creating list using list comprehension
data = [i for i in range(1,11)]

import pandas as pd

series_data = pd.Series(data)

In [6]:
series_data

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [7]:
type(series_data)

pandas.core.series.Series

In [11]:
# Q3 create dataframe using give data
data = {
    "Name":['Alice','Bob','Claire'],
    "Age":[25,30,27],
    "Gender":['Female','Male','Female']
}

import pandas as pd 

# Convert data into dataframe using pandas.dataframe function

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [13]:
# Q4. What is ‘DataFrame’ in pandas?
'''
dataframe is tabular form i.e a table with rows and columns
'''

# how is it different from pandas.series?

'''
dataframe is table form but pandas.series is list form or one dimensional form.
'''

# Dataframe exmple:
import pandas as pd

# creating a DataFrame
dict = {'Name' : ['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths' : [87, 91, 97, 95],
        'Science' : [83, 99, 84, 76]}

df  = pd.DataFrame(dict)

In [15]:
# we use same df to fatch two different form of data when we use single square bracket
# to get pandas series data in form of list with index value like

series_data = df['Name']
print(series_data)
print(type(series_data))

# when we use double square bracket to get pandas dataframe in form of table form with key:value

dataframe_data = df[['Name']]
print(dataframe_data)
print(type(dataframe_data))

0     Martha
1        Tim
2        Rob
3    Georgia
Name: Name, dtype: object
<class 'pandas.core.series.Series'>
      Name
0   Martha
1      Tim
2      Rob
3  Georgia
<class 'pandas.core.frame.DataFrame'>

In [3]:
# Q5. there are some function is used to to manipulate data in a Pandas DataFrame

# Dataframe exmple:
import pandas as pd

# creating a DataFrame
dict = {'Name' : ['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths' : [87, 91, 97, 95],
        'Science' : [83, 99, 84, 76]}

df  = pd.DataFrame(dict)

# use Dataframe.head() to give  first five entry
print(df.head())
print()

# use dataframe.tail() to give last five entry
print(df.tail())
print()

# use dataframe.dtypes to give each columns datatype
print(df.dtypes)
print()

# use dataframe.columns to give list of column name
print(df.columns)
print()

# use pd.read_csv() to read csv file or other file for example html,json,xlxs etc.
# df = pd.read_csv(file path)

      Name  Maths  Science
0   Martha     87       83
1      Tim     91       99
2      Rob     97       84
3  Georgia     95       76

      Name  Maths  Science
0   Martha     87       83
1      Tim     91       99
2      Rob     97       84
3  Georgia     95       76

Name       object
Maths       int64
Science     int64
dtype: object

Index(['Name', 'Maths', 'Science'], dtype='object')

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

'''
Series:- 1D labeled homogeneous array, sizeimmutable.

Data Frames:- General 2D labeled,size-mutable tabular structure with potentially heterogeneously typed columns.

Panel:- General 3D labeled, size-mutable array.
'''

In [2]:
# Q7 Create a DataFrame using multiple Series. Explain with an example.
# Create Series by assigning names
import pandas as pd
courses = pd.Series(["Data Science","Python Developer","Fullstack Developer"], name='courses')
fees = pd.Series([2200,2500,2300], name='fees')
discount  = pd.Series([100,230,100],name='discount')

df = pd.concat([courses,fees,discount],axis=1)
print(df)

               courses  fees  discount
0         Data Science  2200       100
1     Python Developer  2500       230
2  Fullstack Developer  2300       100